{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Lista Przetargów</title>
    <link rel="stylesheet" href="{% static 'tenders/style.css' %}">
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <img src="{% static 'images/logo.png' %}" alt="Logo NOT">
            <nav>
                <ul>
                    <li><a href="{% url 'tenders:przetargi' %}">Lista Przetargów</a></li>
                    <li><a href="{% url 'tenders:zadanie_nowe' %}">Dodaj nowe zadanie</a></li>
                    <li><a href="{% url 'clients:kontrahenci' %}">Lista Kontrahentów</a></li>
                    <li><a href="{% url 'specialists:specjalisci' %}">Lista Specjalistów</a></li>
                    <li><a href="{% url 'reports:raport' %}">Generuj raport</a></li>
                </ul>
            </nav>
        </div>
        <div class="content">
            <h1>Lista Przetargów</h1>
            <table>
                <thead>
                    <tr>
                        <th>Nazwa Zadania</th>
                        <th>Kontrahent</th>
                        <th>Rodzaj Zadania</th>
                        <th>Status</th>
                        <th>Data Wprowadzenia</th>
                        <th>Termin Statusu</th>
                        <th>Wartość Zadania</th>
                        <th>Wycena</th>
                        <th>Przypisany Pracownik</th>
                    </tr>
                </thead>
                <tbody>
                    {% for zadanie in zadania %}
                        <tr>
                            <td>{{ zadanie.nazwa_zadania }}</td>
                            <td>{{ zadanie.kontrahent.nazwa_kontrahenta }}</td>
                            <td>{{ zadanie.rodzaj_zadania.nazwa }}</td>
                            <td>{{ zadanie.status.nazwa }}</td>
                            <td>{{ zadanie.data_wprowadzenia }}</td>
                            <td>{{ zadanie.termin_statusu }}</td>
                            <td>{{ zadanie.wartosc_zadania }}</td>
                            <td>{{ zadanie.wycena }}</td>
                            <td>{{ zadanie.przypisany_pracownik.email }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
